:root {
    /* colors */
    --color-primary: #2E2019;
    --color-secondary: darkred;
    --color-article-primary: #301934;
    --color-accent: #FFFF8A;

    /* fonts */
    --font-header: serif;
    --font-body: sans-serif;

    --image-max-width: 100%;
}

@media (width > 570px) {
    :root {
        --image-max-width: 180px;
    }
}

